syntax: glob
*.pyc
*~
.DS_Store
db.sqlite3
*.sqlite3
venv/*

dump.rdb
debug.log
.idea
.vscode
upload/*

#import scss
config_scss/upload/*
media/config/image/*

#static
static/video/*
static/scss/*
test_member_upload
alert/export/

#move template, static, media
media/*
!media/config/default/*
!media/test/*
!media/example/*
media_private
stream_private
deploy_static/*
conicle/local_settings.py
conicle/dev_settings.py
conicle/saml/settings.json


_docker/web
_docker/dashboard

_data/data/*

script/en.js
script/th.js

ubuntu-zesty-17\.04-cloudimg-console\.log

ubuntu-bionic-18\.04-cloudimg-console\.log

celeryev\.pid
celerybeat*
version\.txt

dict\.json

script/ais/log_page\.txt

vendor_ptt/export/*
