syntax: glob
*.pyc
*~
.DS_Store
db.sqlite3
*.sqlite3
venv/*

dump.rdb
debug.log
.idea
.vscode
upload/*

#import scss
config_scss/upload/*
media/config/image/*

#static
static/video/*
static/scss/*
test_member_upload
alert/export/

#move template, static, media
media/*
!media/config/default/*
!media/test/*
!media/example/*
media_private
stream_private
deploy_static/*
conicle/local_settings.py
conicle/dev_settings.py
conicle/saml/settings.json


_docker/web
_docker/dashboard

_data/data/*

script/en.js
script/th.js

ubuntu-zesty-17\.04-cloudimg-console\.log

ubuntu-bionic-18\.04-cloudimg-console\.log

celeryev\.pid
celerybeat*
version\.txt

dict\.json

script/ais/log_page\.txt

vendor_ptt/export/*

swiftfood/venv/Lib/site-packages/amqp-2.5.1.dist-info/INSTALLER

swiftfood/venv/Lib/site-packages/amqp-2.5.1.dist-info/LICENSE

swiftfood/venv/Lib/site-packages/amqp-2.5.1.dist-info/

swiftfood/venv/Lib/site-packages/amqp/

swiftfood/venv/Lib/site-packages/asgiref-3.2.5.dist-info/

swiftfood/venv/Lib/site-packages/asgiref/

swiftfood/venv/Lib/site-packages/billiard-3.6.1.0.dist-info/

*.py

swiftfood/venv/Lib/site-packages/celery-4.3.0.dist-info/

*.png

*.rst

swiftfood/venv/Lib/site-packages/certifi-2019.9.11.dist-info/

*.pem

swiftfood/venv/Lib/site-packages/chardet-3.0.4.dist-info/

swiftfood/venv/Lib/site-packages/Click-7.0.dist-info/

swiftfood/venv/Lib/site-packages/coreapi-2.3.3.dist-info/

swiftfood/venv/Lib/site-packages/coreschema-0.0.4-py3.8.egg-info/

*.html

swiftfood/venv/Lib/site-packages/croniter-0.3.30.dist-info/

swiftfood/venv/Lib/site-packages/DateTime-4.3.dist-info/

swiftfood/venv/Lib/site-packages/DateTime/

swiftfood/venv/Lib/site-packages/dateutil/zoneinfo/

swiftfood/venv/Lib/site-packages/debug_toolbar/locale/ca/LC_MESSAGES/

swiftfood/venv/Lib/site-packages/debug_toolbar/locale/cs/LC_MESSAGES/

swiftfood/venv/Lib/site-packages/debug_toolbar/locale/de/LC_MESSAGES/

swiftfood/venv/Lib/site-packages/debug_toolbar/locale/en/LC_MESSAGES/

swiftfood/venv/Lib/site-packages/debug_toolbar/locale/es/LC_MESSAGES/

*.mo

*.po

*.css

*.gif

*.js

swiftfood/venv/Lib/site-packages/Django-2.2.4.dist-info/

*.py-tpl

*.md

swiftfood/venv/Lib/site-packages/django/contrib/admin/static/admin/fonts/

*.svg

swiftfood/venv/Lib/site-packages/django/contrib/admin/static/admin/img/

swiftfood/venv/Lib/site-packages/django/contrib/admin/static/admin/js/vendor/jquery/

swiftfood/venv/Lib/site-packages/django/contrib/admin/static/admin/js/vendor/xregexp/

swiftfood/venv/Lib/site-packages/django/contrib/auth/

swiftfood/venv/Lib/site-packages/django/contrib/gis/gdal/

swiftfood/venv/Lib/site-packages/django/contrib/gis/geos/

swiftfood/venv/Lib/site-packages/django/contrib/gis/templates/gis/kml/

*.xml

swiftfood/venv/Lib/site-packages/django/dispatch/

swiftfood/venv/Lib/site-packages/django/views/templates/

swiftfood/venv/Lib/site-packages/django_celery_beat-1.5.0.dist-info/

swiftfood/venv/Lib/site-packages/django_celery_monitor-1.1.2.dist-info/

swiftfood/venv/Lib/site-packages/django_celery_results-1.0.4.dist-info/

swiftfood/venv/Lib/site-packages/django_debug_toolbar-2.0.dist-info/

swiftfood/venv/Lib/site-packages/django_extensions-2.2.1.dist-info/

swiftfood/venv/Lib/site-packages/django_extensions/conf/app_template/

*.tmpl

*.dot

swiftfood/venv/Lib/site-packages/django_filter-2.2.0.dist-info/

swiftfood/venv/Lib/site-packages/django_guardian-2.0.0.dist-info/

swiftfood/venv/Lib/site-packages/django_model_utils-3.2.0.dist-info/

swiftfood/venv/Lib/site-packages/django_rest_swagger-2.2.0.dist-info/

swiftfood/venv/Lib/site-packages/django_rq-1.2.0.dist-info/

swiftfood/venv/Lib/site-packages/django_rq_scheduler-1.1.1.dist-info/

swiftfood/venv/Lib/site-packages/django_timezone_field-3.0.dist-info/

swiftfood/venv/Lib/site-packages/django_uuidfield-0.5.0-py3.8.egg-info/

swiftfood/venv/Lib/site-packages/djangorestframework-3.9.2.dist-info/

*.pth

swiftfood/venv/Lib/site-packages/idna-2.8.dist-info/

swiftfood/venv/Lib/site-packages/importlib_metadata-0.23.dist-info/

*.whl

*.egg

swiftfood/venv/Lib/site-packages/itypes-1.1.0-py3.8.egg-info/

swiftfood/venv/Lib/site-packages/Jinja2-2.10.1.dist-info/

swiftfood/venv/Lib/site-packages/kombu-4.6.5.dist-info/

swiftfood/venv/Lib/site-packages/Markdown-3.1.1.dist-info/

swiftfood/venv/Lib/site-packages/MarkupSafe-1.1.1-py3.8.egg-info/

*.c

swiftfood/venv/Lib/site-packages/more_itertools-7.2.0.dist-info/

swiftfood/venv/Lib/site-packages/openapi_codec-1.3.2-py3.8.egg-info/

swiftfood/venv/Lib/site-packages/PIL/

swiftfood/venv/Lib/site-packages/Pillow-7.0.0.dist-info/

swiftfood/venv/Lib/site-packages/pip-20.0.2.dist-info/

*.cfg

*.exe

swiftfood/venv/Lib/site-packages/python_crontab-2.3.9-py3.8.egg-info/

swiftfood/venv/Lib/site-packages/python_dateutil-2.8.0.dist-info/

swiftfood/venv/Lib/site-packages/pytz-2019.2.dist-info/

swiftfood/venv/Lib/site-packages/pytz/zoneinfo/Africa/

swiftfood/venv/Lib/site-packages/pytz/zoneinfo/America/

swiftfood/venv/Lib/site-packages/pytz/zoneinfo/

*.ps1

swiftfood/venv/Scripts/

swiftfood/venv/Lib/site-packages/zope.interface-4.7.1-py3.8.egg-info/

swiftfood/venv/Lib/site-packages/vine-1.3.0.dist-info/

swiftfood/venv/Lib/site-packages/urllib3-1.25.3.dist-info/

swiftfood/venv/Lib/site-packages/zipp-0.6.0.dist-info/

swiftfood/venv/Lib/site-packages/uritemplate-3.0.0.dist-info/

swiftfood/venv/Lib/site-packages/sqlparse-0.3.0.dist-info/

swiftfood/venv/Lib/site-packages/six-1.12.0.dist-info/

swiftfood/venv/Lib/site-packages/rq_scheduler-0.9.1.dist-info/

swiftfood/venv/Lib/site-packages/rq-1.1.0.dist-info/

swiftfood/venv/Lib/site-packages/redis-3.3.8.dist-info/

swiftfood/venv/Lib/site-packages/requests-2.22.0.dist-info/

*.ico

*.eot

*.ttf

*.woff

*.woff2

swiftfood/venv/Lib/site-packages/simplejson-3.16.0-py3.8.egg-info/
